.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}
.content img{
    margin: 15px 0;
}
.content span{
    text-align: center;
}
.content .buttons{
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .buttons button{
    cursor: pointer;
    border-radius: 10px;
    outline: 0;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 5px;
    margin: 0 5px;
    width: 120px;
}
.content .buttons button.cancel{
    background-color: #37a5ff;
    border: 1px solid #37a5ff;
}
.content .buttons button.cancel:hover{
    background-color: #3190df;
    border: 1px solid lawngreen;
}
.content .buttons button.continue{
    background-color: #ff3737;
    border: 1px solid #ff3737;
}
.content .buttons button.continue:hover{
    background-color: #e03232;
    border: 1px solid lawngreen;
}