::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #35ff23a4;
    border-radius: 99px;
}
::-webkit-scrollbar-track{
    background-color: #18191c50;
}
::selection{
    color:#1cbe4d;
    background: #00000040;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}